<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campground <%= campground.title  %></title>
</head>
<body>
    <h1> Campground <%=campground.title  %></h1>
    <h2>Price: <%=campground.price %></h2>
    <p> <% campground.description %></p>
    <h3>Location : <%= campground.location %></h3>
</body>
<p><a href="/campgrounds/<%= campground._id %>/edit">Edit</a>
</p>
<form action="/campgrounds/<%=campground._id %>/?_method=DELETE" method="POST">
    <button>Delete</button>
</form>
<a href="/campgrounds"> Go Back </a>
</html>